<!DOCTYPE html>
<html data-ng-app="app" lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <base href="/">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no" />
    <meta name="author" content="Fabricio Nogueira">
    <title>Angular rotas</title>
    <link rel="stylesheet" href="/css/layout.min.css">
    <link rel="stylesheet" href="/css/main.min.css">
    <script src="/js/main.min.js"></script>
</head>
<body data-ng-controller="mainController as ctrl" ng-cloak>
    <header>
        <nav>
            <md-content>
                <md-toolbar>
                    <div class="md-toolbar-tools">
                        <span><i class="fa fa-2x fa-angle-double-right" aria-hidden="true"></i></span>
                        <a href="/"><md-button class="md-icon-button" aria-label="Home">
                            <md-tooltip>P&aacute;gina inicial</md-tooltip>
                            <md-icon><i class="fa fa-2x fa-home" aria-hidden="true"></md-icon>
                        </md-button></a>
                        <a href="/sobre"><md-button class="md-icon-button" aria-label="Sobre">
                            <md-tooltip>Sobre</md-tooltip>
                            <md-icon><i class="fa fa-2x fa-question-circle" aria-hidden="true"></md-icon>
                        </md-button></a>
                        <a href="/contato"><md-button class="md-icon-button" aria-label="Contato">
                            <md-tooltip>Contato</md-tooltip>
                            <i class="fa fa-2x fa-pencil" aria-hidden="true">
                        </md-button></a>
                        <md-menu md-position-mode="target-right target">
                            <md-button class="md-icon-button" aria-label="Configura&ccedil;&otilde;es" data-ng-click="ctrl.openMenu($mdOpenMenu, $event)">
                                <md-tooltip>Configura&ccedil;&otilde;es</md-tooltip>
                                <md-icon><i class="fa fa-2x fa-gear" aria-hidden="true"></i></md-icon>
                            </md-button>
                            <md-menu-content width="4">
                                <md-menu-item>
                                    <md-button data-ng-click="ctrl.profile($event)">
                                        <div layout="row">
                                            <p flex>Perfil</p>
                                            <md-icon  md-menu-align-target style="margin: auto 3px auto 0;">
                                                <i class="fa fa-user" aria-hidden="true"></i>
                                            </md-icon>
                                        </div>
                                    </md-button>
                                </md-menu-item>
                                <md-menu-item>
                                    <md-button ng-click="ctrl.help($event)">
                                        <div layout="row">
                                            <p flex>Ajuda</p>
                                            <md-icon  md-menu-align-target style="margin: auto 3px auto 0;"><i class="fa fa-question" aria-hidden="true"></i></md-icon>
                                        </div>
                                    </md-button>
                                </md-menu-item>
                            </md-menu-content>
                        </md-menu>
                        <span flex></span>
                        <md-button class="md-icon-button" aria-label="Sair com seguran&ccedil;a">
                            <md-tooltip>Sair com seguran&ccedil;a</md-tooltip>
                            <md-icon><i class="fa fa-2x fa-power-off" aria-hidden="true"></i></md-icon>
                        </md-button>
                    </div>
                </md-toolbar>
            </md-content>
        </nav>
    </header>
    <section id="container">
        <div layout='row' layout-xs="column" >
            <div data-ng-view></div>
        </div>
        <div layout="row" layout-sm="column">
            <div flex>
                I'm above on mobile, and to the left on larger devices.
            </div>
            <div flex>
                I'm above on mobile, and to the left on larger devices.
            </div>
        </div>
    </section>
    <footer>
        <i class="fa fa-github" aria-hidden="true"></i>
    </footer>
</body>
</html>
