body{
    text-align: center !important;
}

header{
    margin-bottom: 70px;
}

md-toolbar{
    position: fixed !important;
    text-align: center;
    .md-toolbar-tools {
        width: 95% !important;
    	margin:0 auto !important;
    	text-align:left !important;
    };
}
