<div class="modal-header">
    <h3 class="modal-title">{{title}}</h3>
</div>
<div class="modal-body">
    <uib-alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)">{{alert.msg}}</uib-alert>
    <form name="aboutForm">
        <md-input-container class="md-block">
            <label>Corpo</label>
            <input md-maxlength="180" required md-no-asterisk name="body" ng-model="body" maxlength="180">
            <div ng-messages="aboutForm.body.$error">
                <div ng-message="required">Campo de preenchimento obrigat&oacute;rio.</div>
            </div>
        </md-input-container>
    </form>
    <div layout="row" layout-xs="column">
        <div flex ng-if="created_date" class="text-left">
            <i>Cadastrado em: {{created_date | date:"dd/MM/yyyy 'às' HH'h'mm'm'"}}</i>
        </div>
        <div flex ng-if="updated_date" class="text-right">
            <i>Atualizado em: {{updated_date | date:"dd/MM/yyyy 'às' HH'h'mm'm'"}}</i>
        </div>
    </div>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" type="button" ng-click="save()">Salvar</button>
    <button class="btn btn-warning" type="button" ng-click="cancel()">Cancelar</button>
</div>
