<nav>
    <md-content>
        <md-toolbar>
            <div class="md-toolbar-tools">
                <span><i class="fa fa-angle-double-right" aria-hidden="true"></i></span>
                <a ui-sref="dashboard"><md-button class="md-icon-button" aria-label="Home">
                    <md-tooltip>P&aacute;gina inicial</md-tooltip>
                    <md-icon><i class="fa fa-2x fa-home" aria-hidden="true"></md-icon>
                </md-button></a>
                <a ui-sref="sobre"><md-button class="md-icon-button" aria-label="Sobre">
                    <md-tooltip>Sobre</md-tooltip>
                    <md-icon><i class="fa fa-2x fa-question-circle" aria-hidden="true"></md-icon>
                </md-button></a>
                <a ui-sref="contato"><md-button class="md-icon-button" aria-label="Contato">
                    <md-tooltip>Contato</md-tooltip>
                    <i class="fa fa-2x fa-pencil" aria-hidden="true">
                </md-button></a>
                <md-menu md-position-mode="target-right target">
                    <md-button class="md-icon-button" aria-label="Configura&ccedil;&otilde;es" data-ng-click="ctrl.openMenu($mdOpenMenu, $event)">
                        <md-tooltip>Configura&ccedil;&otilde;es</md-tooltip>
                        <md-icon><i class="fa fa-2x fa-gear" aria-hidden="true"></i></md-icon>
                    </md-button>
                    <md-menu-content width="4">
                        <md-menu-item>
                            <md-button data-ng-click="ctrl.profile($event)">
                                <div layout="row">
                                    <p flex>Perfil</p>
                                    <md-icon  md-menu-align-target style="margin: auto 3px auto 0;">
                                        <i class="fa fa-user" aria-hidden="true"></i>
                                    </md-icon>
                                </div>
                            </md-button>
                        </md-menu-item>
                        <md-menu-item>
                            <md-button ng-click="ctrl.help($event)">
                                <div layout="row">
                                    <p flex>Ajuda</p>
                                    <md-icon  md-menu-align-target style="margin: auto 3px auto 0;"><i class="fa fa-question" aria-hidden="true"></i></md-icon>
                                </div>
                            </md-button>
                        </md-menu-item>
                    </md-menu-content>
                </md-menu>
                <span flex></span>
                <md-button class="md-icon-button" aria-label="Sair com seguran&ccedil;a" ng-click="logout()">
                    <md-tooltip>Sair com seguran&ccedil;a</md-tooltip>
                    <md-icon><i class="fa fa-2x fa-power-off" aria-hidden="true"></i></md-icon>
                </md-button>
            </div>
        </md-toolbar>
    </md-content>
</nav>
