<nav>
    <md-content>
        <md-toolbar>
            <div class="md-toolbar-tools">
                <fa-menu ng-repeat="item in menu">
                    <md-button ui-sref="{{item.link}}" class="md-icon-button" aria-label="{{item.label}}">
                        <md-tooltip>{{item.tooltip}}</md-tooltip>
                        <md-icon><i class="fa fa-2x fa-{{item.icone}}" aria-hidden="true"></md-icon>
                    </md-button>
                </fa-menu>
                <span flex></span>
                <md-button ng-show="logoutButton" class="md-icon-button" aria-label="Sair com seguran&ccedil;a" ng-click="logout()">
                    <md-tooltip>Sair com seguran&ccedil;a</md-tooltip>
                    <md-icon><i class="fa fa-2x fa-power-off" aria-hidden="true"></i></md-icon>
                </md-button>
            </div>
        </md-toolbar>
    </md-content>
</nav>
